body{
  background-color: #071A80
}
form{
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

header{
  color: #F1F31C
}

table.table.matches{
  background-color: orange
}

.heading{
  background-color: black;
  color: white
}


.athalete img{
  max-width: 250px;
  max-height: 225px;
}


.athalete{
  background-color: #6096BA;
  padding-top: 1rem;
  border: solid black 2rem;
}

.jumbotron{
  background-color: #941B08
}

.roster{
  margin-top: 4rem
}

#gryffindor{
  background-color:#740001;
  color: #d3a625;

}

#hufflepuff{
  background-color: #ecb939;
  color: #372e29
}

#ravenclaw{
  background-color: #0e1a40;
  color:#946b2d;
}

#slytherin{
  background-color: #1a472a;
  color: #aaaaaa;
}
